.popup
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10002;
	overflow: hidden;
	opacity: 0;
	height: 0;
	background: transparent;
	pointer-events: none;
	&.opened
		opacity: 1;
		height: 100%;
		overflow: auto;
		background: alpha(#000, .4);
		cursor:pointer;
		pointer-events: auto;

		& ^[0]__overlay
			height 100%


		& ^[0]__content
			// width: 100%;
			background-color: #fff
			// box-shadow: 0 0 35px 7px alpha(#000,3)

	&__overlay
		position absolute
		top 0
		left 0
		height 0
		width 100%
		z-index 1
		pointer-events: none

	&__wrapper
		position: relative;
		width: 100%;
		min-height: 100%;
		z-index: 4;
		display: flex;
		justify-content: center;
		align-items: center;
		// padding: 70px 0 30px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

	&__close
		position: absolute;
		z-index: 25;
		top: -25px;
		right: 0;
		width: 20px;
		height: 20px;
		background: url('../images/close.svg') no-repeat;
		background-size: 20px 20px;
		&:hover
			opacity: .5;
		@media (max-width: 510px)
			top: 15px;
			right: 15px;

	&__content
		min-width: 500px;
		transition: opacity 0s, transform 0s, background-color .2s;
		transform: translateY(30px);
		cursor:default;
		opacity: 0;
		position: relative;
		@media (max-width: 550px)
			min-width: 100%;
			margin: 0 auto;
			// padding: 0px;

	&.opened &__content
		transform: translateY(0);
		opacity: 1;
		transition: opacity .3s, transform .5s;

	&__title
		font-size: 28px;
		font-weight: 500;
		line-height: 1em;
		margin-bottom: 32px;